@mixin fontStyle($font-size, $color, $font-weight) {
  font-style: $font-size;
  color: $color;
  font-weight: $font-weight;
}
.about {
  margin-top: 3rem;

  .about-header {
    text-align: center;
    letter-spacing: 4px;
    @include fontStyle(32px, rgb(26, 26, 26), 600);
  }
  .about-desciption {
    text-align: center;
    @include fontStyle(14px, rgb(85, 89, 92), 200);
  }
  .about-link {
    display: flex;
    justify-content: center;

    height: 40px;
    a {
      @include fontStyle(15px, white, 600);
      border: none;
      width: 150px;
      height: 40px;
      display: inline-block;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
