:root {
    --primary-color: #55595c;
    --secondary-color: #1a1a1a;
}

.store-header-section {
    display: flex;
    justify-content: center;
    align-items: center;



}

.store-header-container {
    margin-top: 2.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.store-header-title {
    font-family: "Nunito Sans",
        -apple-system,
        "system-ui",
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 32px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.7rem;
}



.store-header-description {
    font-size: 14px;
    font-weight: 200;
    color: var(--primary-color);
    height: 21px;

}

.store-products-section {
    margin: 0 auto;
    width: 1000px;
    padding-top: 1.8rem;


}

.store-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-products-quantity {
    font-size: 14px;
    font-weight: 200;
    color: var(--primary-color);
    height: 21px;
}

.store-products-search-input {
    border: none;
    background-color: rgb(247, 247, 249);
    font-weight: 400;
    font-style: 14px;
    width: 17rem;
    height: 2.7rem;
    padding-left: 15px;
    outline: none;


}

@media screen and (max-width: 767px) {
    .store-products-search-input {

        border: none;
        background-color: rgb(247, 247, 249);
        font-weight: 400;
        font-style: 14px;
        width: 10rem;
        height: 2rem;
        padding-left: 15px;



    }

    .store-products-container {
        width: 400px;
    }
}

input:focus {
    border: 3px solid rgb(197, 197, 197);
}

.store-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;
}