:root {
    --primary-color: #55595c;
    --secondary-color: #1a1a1a;
}

.cart-container {
    width: 100vw;
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;

}

.cart-container-wrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;

}

.cart-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.cart-title {
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: var(--secondary-color);
    letter-spacing: 3px;

}

.cart-description {
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: var(--primary-color);
}

.cart-item-wrapper {
    width: 700px;
    margin-top: 5rem;
}

.cart-item {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}

.cart-item-title {

    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: var(--secondary-color);


}

.cart-item-price {
    font-size: 14px;
    font-weight: 200;
    color: var(--secondary-color);


}

.cart-item-quantity-text {
    font-size: 14px;
    font-weight: 200;
    color: var(--secondary-color);
}

.cart-item-actions {

    width: 100px;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.cart-item-button {
    margin: 5px;
    border: none;
    width: 80px;
    height: 2.5rem;
    background-color: black;
    padding-top: 5px;
    cursor: pointer;
    color: white;
}